Repository robertfly/detection-engineer-tidqdo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @detection-platform/maintainers, @detection-platform/security-team, @detection-platform/backend-team, @detection-platform/frontend-team, @detection-platform/devops-team, @detection-platform/docs-team, @detection-platform/qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review on all PRs.
* @detection-platform/maintainers @detection-platform/security-team

# Backend service code requires both backend team and security team review
src/backend/** @detection-platform/backend-team @detection-platform/security-team

# Frontend code requires both frontend team and security team review
src/web/** @detection-platform/frontend-team @detection-platform/security-team

# Infrastructure code requires both DevOps and security team review
infrastructure/** @detection-platform/devops-team @detection-platform/security-team

# CI/CD workflows require both DevOps and security team review
.github/workflows/** @detection-platform/devops-team @detection-platform/security-team

# Documentation ownership
*.md @detection-platform/docs-team

# Security documentation requires security team review
SECURITY.md @detection-platform/security-team

# Security configurations and policies
security/** @detection-platform/security-team

# Test files require both QA and security team review
**/test/** @detection-platform/qa-team @detection-platform/security-team

# Authentication and authorization related code requires security team review
**/*auth*/** @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/documentdb/main.tf
  infrastructure/terraform/modules/documentdb/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/documentdb/outputs.tf
  infrastructure/terraform/modules/documentdb/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/documentdb/variables.tf
  infrastructure/terraform/modules/documentdb/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @detection-platform/devops-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/.env.example
  src/backend/.env.example
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/README.md
  src/backend/README.md
Owners: @detection-platform/docs-team

Add public-samples/detection-engineer-tidqdo/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/setup.cfg
  src/backend/setup.cfg
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/app/config.py
  src/backend/app/config.py
Owners: @detection-platform/backend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/backend/app/constants.py
  src/backend/app/constants.py
Owners: @detection-platform/backend-team, @detection-platform/security-team
