Repository robertfly/detection-engineer-tidqdo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @detection-platform/maintainers, @detection-platform/security-team, @detection-platform/backend-team, @detection-platform/frontend-team, @detection-platform/devops-team, @detection-platform/docs-team, @detection-platform/qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review on all PRs.
* @detection-platform/maintainers @detection-platform/security-team

# Backend service code requires both backend team and security team review
src/backend/** @detection-platform/backend-team @detection-platform/security-team

# Frontend code requires both frontend team and security team review
src/web/** @detection-platform/frontend-team @detection-platform/security-team

# Infrastructure code requires both DevOps and security team review
infrastructure/** @detection-platform/devops-team @detection-platform/security-team

# CI/CD workflows require both DevOps and security team review
.github/workflows/** @detection-platform/devops-team @detection-platform/security-team

# Documentation ownership
*.md @detection-platform/docs-team

# Security documentation requires security team review
SECURITY.md @detection-platform/security-team

# Security configurations and policies
security/** @detection-platform/security-team

# Test files require both QA and security team review
**/test/** @detection-platform/qa-team @detection-platform/security-team

# Authentication and authorization related code requires security team review
**/*auth*/** @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/.prettierrc.ts
  src/web/.prettierrc.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/Dockerfile
  src/web/Dockerfile
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/README.md
  src/web/README.md
Owners: @detection-platform/docs-team

Add public-samples/detection-engineer-tidqdo/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/index.html
  src/web/index.html
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/package.json
  src/web/package.json
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/background.ts
  src/web/chrome-extension/background.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/content.ts
  src/web/chrome-extension/content.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/manifest.json
  src/web/chrome-extension/manifest.json
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/popup.html
  src/web/chrome-extension/popup.html
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/popup.tsx
  src/web/chrome-extension/popup.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/styles.css
  src/web/chrome-extension/styles.css
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/components/Capture.tsx
  src/web/chrome-extension/components/Capture.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/components/Options.tsx
  src/web/chrome-extension/components/Options.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/components/Popup.tsx
  src/web/chrome-extension/components/Popup.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/services/api.ts
  src/web/chrome-extension/services/api.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/services/storage.ts
  src/web/chrome-extension/services/storage.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/utils/capture.ts
  src/web/chrome-extension/utils/capture.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/chrome-extension/utils/dom.ts
  src/web/chrome-extension/utils/dom.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/fonts/.gitkeep
  src/web/src/assets/fonts/.gitkeep
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/detection.svg
  src/web/src/assets/icons/detection.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/intelligence.svg
  src/web/src/assets/icons/intelligence.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/library.svg
  src/web/src/assets/icons/library.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/logo.svg
  src/web/src/assets/icons/logo.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/mitre.svg
  src/web/src/assets/icons/mitre.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/icons/translation.svg
  src/web/src/assets/icons/translation.svg
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/images/logo-dark.png
  src/web/src/assets/images/logo-dark.png
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/assets/images/logo-light.png
  src/web/src/assets/images/logo-light.png
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/auth/MFAForm.tsx
  src/web/src/components/auth/MFAForm.tsx
Owners: @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team

Add public-samples/detection-engineer-tidqdo/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @detection-platform/frontend-team, @detection-platform/security-team
